.App{
  text-align: center;
}

body{
  background-size: cover;
  background-image: url('http://s4.thingpic.com/images/Vg/dJ77rbroijy4FLsET1GC7WnD.jpeg');
}

.navbar{
  display:flex;
  justify-content: space-between;
  margin: 3rem;
  width: 1200px;
  cursor: pointer;
  background-color:transparent;
}

button{
  background-color: rgb(36, 39, 214);
  height: 40px;
  width: 100px;
  color: white;
  border: 80px;
}

h1{
  margin: 1rem;
  color:rgb(255, 255, 255);
  font-size: 100px;

}

h3{
  color :white;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  margin:1rem;
  padding: 5px 50px;
}

.card{
  padding: 1rem;
  margin: 2rem;
  text-align: center;
  font-size: 1.3rem;
  font-style: italic;
  backdrop-filter: blur(50px);
  border-radius: 10%;
}


.card:hover{
  background-color: #61b5e6;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  transform: scale(1.05);
  box-shadow: transparent;
}
img{
  border-radius: 100%;
  margin: 2rem 0rem 1rem 0rem;
}
p{
  color:white;
}



